.margin{
	margin-top: 100px;
}
.nav-tabs {
    background: #FFD700;
    border: 0;
    border-radius: 3px;
    padding: 20px 15px ;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: black;
    transition: background-color .1s .2s;
}
.modal-open .modal {
	margin-top: 150px;
}
#padding{
	padding: 50px;
}
#h2-style {
	text-align: center;
	font-weight: bold;
	margin-bottom: 25px;
}

